.section{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section video {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.section h1 {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    background: white;

    text-align: center;
    color: black;
    line-height: 100vh;
    font-size: 36rem;
    font-weight: bolder;
    font-family: Noto sans-serif;
    letter-spacing: 30px;
    mix-blend-mode: screen;


}

.section .goBack {
    position: absolute;
    top: 85%;
    justify-content: space-around;
    margin: auto;
}

h2 {
    letter-spacing: 2px;
}

.btn {
    color: white;
    background: black;
    margin-left: 35%;
    border-radius: 15px;
}

.btn:hover {
    background: white;
    color: black;
    border: 0.5px solid black;
}